@font-face {
    font-family: "Oswald";
    src: url('Oswald-Regular.ttf');
}

body {
    display: flex;
    overflow: hidden;
    
}

#content {
    width: 70%;
}

#sidebar { 
    width: 30%; 
    margin-left: -8px;
    background-image: url("sidebar.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100px;
    margin-top: 200px;  
    font-family: "Oswald", Arial, Sans-serif;
    font-size: 40px;
    color: white;
    background: rgba(0, 0, 0, .3);
    
}

#logo-credit {
    display: flex;
    justify-content: center;
    margin-top: 500px; 
    color: white;
}
#sidebar > #logo-credit > a {
    color: white;
    text-decoration: underline;
}
.sidebar-image {
    width: 30vw;
    height: 30vh;
}
.logo-image {
    width: 70px; 
    height: 90px; 
}

#header {
    width: 70vw;
    height: 370px;
    background: rgba(243, 243, 243, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
    font-size: 18px;
}
.header-text {
    font-family: Arial, Helvetica, sans-serif;
    width: 550px;
    margin: 250px 40px 0px;
}

.header-lower-text {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 40px;
}

#body {
    width: 70vw; 
    height: 250px;
    box-shadow: 0px 10px 6px -6px grey;
}

h2 {
    margin: 20px 0px 20px 40px; 
}

/* sloppy margin formatting for labels / inputs  */
/* label[for=fname], label[for=password], label[for=email] {
    margin-right: 250px;
}

label[for=lname] {
    margin-left: 15px;
}
label[for=phone]  {
    margin-left: 58px;
}

label[for=confirm-password] {
    margin-left: 21px;
} */
#form {
    width: 700px;
}
 
/* .name-labels, .name-inputs, .email-phone-labels, .email-phone-inputs, .password-labels, .password-inputs {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
} */


label[for=lname] {
    margin-left: 215px;
}

label[for=phone] {
    margin-left: 257px;
}

label[for=confirm-password] {
    margin-left: 220px;
}
label, input {
    width: 250px;
    height: 20px;
    margin: 0px 50px 15px 40px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    
}

label {
    letter-spacing: 1px;
}

.password-match {
    position:relative;
    margin-left: 40px; 
    bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px; 
    color: red;
}
input:focus {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .3)
}

input[type=password]:invalid {
    border-radius: 4px;
}




#footer {
    height: 250px;
    width: 70vw;
    background: rgba(243, 243, 243, 0.8);
    
}

#submit {
    padding: 10px; 
    width: 225px; 
    border-radius: 10px; 
    background-color: #dd7236;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 30px 40px;
}

#footer > .login {
    margin-left: 40px;
}
#footer > .login > a {
    color: #dd7236;
}

